:root {
  --background:#000;
  --front: #ffffff;
  --frame: rgb(236, 70, 70);
  --font__name__color: #EDD4DB;
  --text__rotate: #920315;
}
body {
  background-color: var(--background);
  font-family: 'Raleway', sans-serif;
}
.text__rotate__1 {
  color: var(--text__rotate);
}
.text__rotate__2 {
  color: var(--text__rotate);
}
.text__rotate__3 {
  color: var(--text__rotate);
}
.text__rotate__4 {
  color: var(--text__rotate);
}
.fa {
  font-size: 2rem;
  width: 5rem;
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}
/*Logo Header*/
.header__logo {
  text-align: center;
}
.img__logo {
  width: 20%;
}
/*social medier*/
.fa:hover {
  opacity: 0.7;
}
li {
    display: inline;
    padding: 0;
}
.social__icons {
  text-align: center;
}
.fa-youtube {
  color: #fff; 
}
.fa-spotify {
  color: #fff; 
}
.fa-instagram {
  color: #fff; 
}
.fa-apple {
  color: #fff; 
}
.name {
  color: var(--font__name__color);
  text-align: center;
}
footer {
  text-align: center;
  color: var(--front);
}