
:root {
  --background:#000;
  --front: #ffffff;
  --frame: rgb(236, 70, 70);
  --font__name__color: #EDD4DB;
}
body {
  background-color: #000;
  font-family: 'Raleway', sans-serif;
}
/*Logo Header*/
.header {
  padding: 10px;
  text-align: center;
  background: #000000;
  color: white;
  font-size: 15px;
}
/*social medier*/
.fa:hover {
  opacity: 0.7;
}
li {
    float: left;
    padding: 0;
}
.fa-youtube {
  background: #000;
  color: #fff; 
}
.fa-spotify {
  background: #000;
  color: #fff; 
}
.fa-instagram {
  background: #000;
  color: #fff; 
}
.fa-apple {
  background: #000;
  color: #fff; 
}
footer {
  text-align: center;
  color: var(--front);
  clear: both;
}
@media screen and (min-width: 1920px) {
.fa {
    padding: 20px;
    font-size: 80px;
    width: 300px;
    text-align: center;
    text-decoration: none;
  }
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 280px;
}
.header__top__logo
  {
    width: 80px;
  }
  .name__header {
    font-size: 80px;
    color: #fff;
    margin-top: 200px;
    margin-left: 200px;
    color: var(--font__name__color);
  }
  .img__megaphone {
    width: 950px;
    margin-left: 955px;
    margin-top: -250px;
  }
  .text__arrow {
    display: none;
  }
  .arrow__down {
    display: none;
  }
/*styling af ikoner for mobil*/
@media screen and (max-width: 666px) {
  .fa {
    padding: 20px;
    font-size: 40px;
    width: 80px;
    text-decoration: none;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 120px;
  }
  .header__top__logo
  {
    width: 2rem;
  }
  .name__header {
    font-size: 40px;
    color: #fff;
    margin-top: 2rem;
    margin-left: 10rem;
    color: var(--font__name__color);
  }
  .img__megaphone {
    width: 25rem;
    margin-left: 16.7rem;
    margin-top: -2rem;
  }
  .text__arrow {
    color: #fff;
    display: block;
    text-align: center;
  }
  .down__arrow {
color: var(--front);
font-size: 2rem;
  text-align: center;
  margin-top: -0.8rem;
}
  }
  @media screen and (max-width: 375px) {
    .fa {
      padding: 1.5rem;
      font-size: 2.2rem;
      width: 1rem;
      text-decoration: none;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      margin-left: 3rem;
    }
      .header__top__logo
      {
    width: 3rem;
  }
  .name__header {
    font-size: 1.5rem;
    color: #fff;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: var(--font__name__color);
    text-align: center;
    
  }
  .img__megaphone {
    width: 10rem;
    margin-left: 13.5rem;
  }
  .text__arrow {
    color: #fff;
    display: block;
    text-align: center;
  }
  .down__arrow {
color: var(--front);
font-size: 2rem;
  text-align: center;
  margin-top: -0.8rem;
}
  }
  footer {
    font-size: 0.7rem;
  }
  }  
