
:root {
  --background:#000;
  --text: #fff;
  --frame: rgb(236, 70, 70);
  --font__name__color: #EDD4DB;
}

body {
  background-color: #000;
  font-family: 'Raleway', sans-serif;
}
/*Logo Header*/
.header {
  padding: 10px;
  text-align: center;
  background: #000000;
  color: white;
  font-size: 15px;
}
/*social medier*/
.fa:hover {
  opacity: 0.7;
}
li {
    float: left;
    padding: 0;
}
.fa-youtube {
  background: #000;
  color: #fff; 
}
.fa-spotify {
  background: #000;
  color: #fff; 
}
.fa-instagram {
  background: #000;
  color: #fff; 
}
.fa-apple {
  background: #000;
  color: #fff; 
}
footer {
  text-align: center;
  color: #fff;
  clear: both;
}
@media screen and (min-width: 1920px) {
.fa {
    padding: 20px;
    font-size: 30px;
    width: 250px;
    text-align: center;
    text-decoration: none;
  }
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 350px;
}
.header__top__logo
  {
    width: 80px;
  }
  .name__header {
    font-size: 40px;
    color: #fff;
    margin-top: 140px;
    margin-left: 300px;
    color: var(--font__name__color);
  }
/*styling af ikoner for mobil*/
@media screen and (max-width: 666px) {
  .fa {
    padding: 20px;
    font-size: 40px;
    width: 80px;
    text-decoration: none;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 120px;
  }
  .header__top__logo
  {
    width: 2rem;
  }
  .name__header {
    font-size: 40px;
    color: #fff;
    margin-top: 7rem;
    margin-left: 4rem;
    color: var(--font__name__color);
  }
  @media screen and (max-width: 375px) {
    .fa {
      padding: 1.5rem;
      font-size: 2.2rem;
      width: 1rem;
      text-decoration: none;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      margin-left: 3rem;
    }
      .header__top__logo
  {
    width: 3rem;
  }
  .name__header {
    font-size: 1.7rem;
    color: #fff;
    margin-top: 7rem;
    margin-left: 2.3rem;
    color: var(--font__name__color);
  }
  footer {
    font-size: 0.7rem;
  }
  }  
}